* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, purple, teal);
}
main {
  border: 12px solid white;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  display: flex;
  gap: 8px;
  width: auto;
  padding: 2rem;
  background-clip: padding-box;
}
section {
  width: 200px;
  padding: 1rem;
}
h1 {
  margin: 1.2rem 0 8px;
  font-size: 1.2rem;
}
strong {
  font-size: 2rem;
  margin: 12px 0;
}
small {
  display: block;
  font-size: 0.6rem;
  margin: 8px 0 1rem;
}
.who-for {
  font-size: 14px;
  height: 5rem;
  display: block;
  /* border: 2px solid green; */
}
button {
  width: 100px;
  border: none;
  height: 2.5rem;
  border-radius: 8px;
}
#button-a {
  background-color: rgba(255, 28, 255, 0.35);
}
#button-b {
  background-color: rgb(0, 255, 255, 0.3);
}
#button-c {
  background-color: rgba(255, 218, 185, 0.4);
}
/* Screen size */
@media screen and (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
  }
  section {
    border-bottom: 1px dotted grey;
  }
}
