:root {
  --blue: rgb(31, 31, 92);
  --orange: rgb(255, 174, 0);
  --white: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--blue);
  font-size: 16px;
  text-decoration: none;
  font-family: 'Arial Narrow Bold', sans-serif;
}
main {
  min-height: 100vh;
  background-color: whitesmoke;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.merry-card {
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 400px;
  border-radius: 0.5rem 1.5rem 0.5rem 0.5rem;
  flex-direction: column;
  position: relative;
}
.tree {
  color: green;
  font-size: 3rem;
}
h1 {
  font-size: 2rem;
  margin: 1.5rem 0 2.5rem;
  font-weight: bolder;
}
.fifty-off {
  color: var(--orange);
  margin: 1.5rem 0 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
button {
  color: var(--white);
  background-color: var(--blue);
  width: 200px;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 8px;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
}
