*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(79, 44, 112);
}
main{
    width: 65%;
    margin: auto;
    background: rgb(199, 159, 250);
    height: 100vh;
    z-index: 0;
}
section{
    width: 65%;
    height: 100vh;
    margin: auto;
    background: white;
    z-index: 100;
    padding: 20px 20%;
}
.colors{
    width: 50px;
    height: 50px;
}
.orange{
    background: rgb(255, 102, 0);
}
.purple{
    background: rgb(84, 29, 172);
    border-radius: 50%;
}
.section-heading{
    font-size: 18px;
    font-weight: 100px;
    color: black;
    background: lightgray;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 8px;
    margin: 20px 0 12px 0;
}
p{
    margin: 4px 0;
}
h1, h2 ,h3{
    margin: 4px 0;
}
button{
    display: block;
    width: 160px;
    height: 40px;
    color: white;
    background: rgb(84, 29, 172);
    border: none;
}
button:hover{
    background: rgb(136, 87, 214);
}
button:active{
    background: rgb(199, 169, 248);
    color: black;
}
