* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
/* Shared classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dw {
  height: 3rem;
  width: 100%;
}
/*  */
main {
  width: 100vw;
  min-height: 100vh;
}
section {
  border: 3px solid red;
  width: 360px;
  height: auto;
  flex-direction: column;
  padding: 3rem 6rem;
}
h1 {
  padding: 0 4rem;
  font-size: 2rem;
  display: block;
  text-align: center;
  /* border: 2px solid green; */
  margin-bottom: 12px;
}
.get-seen {
  margin-top: 12px;
  /* padding: 0 2rem; */
  text-align: center;
}
