* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}
/* Shared classes */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dw {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 4px;
}
/*  */
main {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
}
section {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  width: 360px;
  height: auto;
  flex-direction: column;
  padding: 3rem 6rem;
}
h1 {
  padding: 0 4rem;
  font-size: 2rem;
  display: block;
  text-align: center;
  /* border: 2px solid green; */
  margin-bottom: 12px;
}
.get-seen {
  margin: 12px 0;
  /* padding: 0 2rem; */
  text-align: center;
}
button {
  border: none;
  color: white;
}
button:hover {
  border: 1px solid grey;
  cursor: pointer;
}
button:active {
  color: black;
}
#fb-button {
  background-color: rgb(80, 80, 199);
}
.or {
  margin: 12px 0;
  text-align: center;
}
.names {
  gap: 4px;
}
input {
  padding: 0 1rem;
  border: 1px solid black !important;
  margin: 4px 0;
}
#new-account {
  background-color: rgb(7, 7, 92);
  margin: 8px 0;
}
.disclaimer {
  text-align: center;
  margin-top: 12px;
  font-size: 10px;
}
