* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace, "Courier New", Courier;
  font-weight: bold;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
main {
  min-width: 400px;
  width: 60%;
  max-width: 800px;
  /* border: 3px solid red; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 22px;
  display: flex;
  overflow: hidden;
}
.login-card {
  width: 60%;
  height: 100%;
  /* border: 2px solid green; */
  padding: 50px;
  background-color: white;
}
.image-card {
  position: relative;
  background-image: url(./water.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  z-index: -10;
}
h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.login-txt {
  margin: 1rem 0 1.5rem 0;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
}
.form-comps {
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
}
input {
  border: 1px solid grey;
}
.action-card {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    width: 30%;
    background-color: rgb(0, 124, 233);
    border: none;
    color: white;
  }
  button:hover {
    cursor: pointer;
  }
}
.log-with {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}
.break-line {
  border-top: 1px solid grey;
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}
.alternate {
  display: flex;
  gap: 12px;
}
.alternate-btn {
  width: 100%;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 4px;
  border: 1px solid grey;
  i {
    padding-right: 12px;
    border-radius: 4px;
  }
}
.alternate-btn:hover {
  cursor: pointer;
}
a {
  color: rgb(0, 124, 233);
  font-size: 0.9rem;
  font-weight: bold;
}
.google {
  color: rgb(255, 255, 0);
}
.fa-facebook {
  color: rgb(0, 124, 233);
}
.fa-xmark {
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4px;
  border-radius: 50%;
  right: 12px;
  top: 12px;
}
@media screen and (max-width: 1000px) {
  .image-card {
    display: none;
  }
  .login-card {
    width: 100%;
  }
}
