:root {
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: monospace, "Courier New", Courier, monospace;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 100vw;
  min-height: 100vh;

  background: linear-gradient(45deg, purple, rgb(44, 44, 255));
}
section {
  background: rgba(255, 254, 254, 0.9);
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  padding: 1rem;
}
h1 {
  /* text-align: center; */
  font-size: 1.2rem;
  margin: 1rem 0;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 8px;
}
.birthday {
  justify-content: left;
  margin: 1rem 0;
}
.names {
  margin: 4px 0;
  font-size: 1.1rem;
  font-weight: bold;
}
.button-container {
  justify-content: center;
  width: 100%;
}
button {
  margin: 1.2rem 0;
  background: linear-gradient(45deg, rgb(255, 163, 178), rgb(255, 74, 135));
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 8px;
}
